﻿@model MemoryCards.Models.Deck

@{
    ViewData["Title"] = Localizer["box"];
}

<h4>@Localizer["box"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DeckBoxId" />
            <input type="hidden" asp-for="@Model.CreatedAt" />
            <input type="hidden" asp-for="@Model.LastSendMsgDate" />
            <div class="group">
                <input asp-for="RepeatDay"  id="repeatday" required class="input" autocomplete="off" style="width:70%" autofocus>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label">@Localizer["repeatDay"]</label>
                <span id="validRepeatDay" asp-validation-for="RepeatDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="DeckEdit" value="@Localizer["edit"]" class="btn btn-light" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
