﻿@model IEnumerable<MemoryCards.Models.Deck>

@{
    ViewData["Title"] = @Localizer["title"];
}
 
<div class="row mb-5">
    <div class="deckcontainer">
        @foreach (var deck in Model)
        {
            @if (DateTime.Now.DayOfYear == deck.LastSendMsgDate.DayOfYear || DateTime.Now.DayOfYear == deck.LastSendMsgDate.DayOfYear-1)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="card" style="background-color:limegreen">
                        <h2>@deck.RepeatDay</h2>
                        <a class="btn-sm ml-5 icon" id="edit" asp-action="Edit" asp-route-id="@deck.Id"><i class="fas fa-pencil-alt"></i></a>
                        <a class="btn" asp-controller="Cards" asp-action="Index" asp-route-id="@deck.Id">
                            <div class="content">
                                <h3 class="text-center">
                                    @Localizer["count"]
                                    <strong> @Html.DisplayFor(modelItem => deck.Cards.Count)</strong>
                                </h3>
                            </div>
                        </a>
                    </div>

                </div>
            }
            else
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                       <div class="card" >
                            <h2>@deck.RepeatDay</h2>
                            <a class="btn-sm ml-5 icon" id="edit" asp-action="Edit" asp-route-id="@deck.Id"><i class="fas fa-pencil-alt"></i></a>
                            <a class="btn" asp-controller="Cards" asp-action="Index" asp-route-id="@deck.Id">
                                <div class="content">
                                    <h3 class="text-center">
                                        @Localizer["count"] 
                                        <strong> @Html.DisplayFor(modelItem => deck.Cards.Count)</strong>
                                    </h3>
                                </div>
                            </a>
                       </div>
                </div>
            }                
         }
        </div>
    </div>
    <br />
    <div>
        <a type="button" asp-controller="DeckBoxes" asp-action="Index" class="btn btn-light">@Localizer["back"]</a>
    </div>  