﻿@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MemoryCards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/carouselCards.css" />
    <link rel="stylesheet" href="~/css/flipCards.css" />
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/wtf-forms.css">
    <link rel="stylesheet" href="~/css/deckBox.css" />
    <link rel="stylesheet" href="~/css/decks.css" />
    <link rel="stylesheet" href="~/css/userProfiles.css" />
    <link rel="stylesheet" href="~/fontawesome/all.min.css" />

    @inject SignInManager<User> SignInManager
    @inject UserManager<User> _userManager
    @inject MemoryContext _context    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="DeckBoxes" asp-action="Index">MemoryCards</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="UserProfiles">@Localizer["Users"]</a>
                        </li>
                    </ul>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                @{
                                    User users = await _userManager.GetUserAsync(User);

                                }
                                @if (users.DarkTheme)
                                {
                                    <link rel="stylesheet" href="~/css/darkTheme.css" />
                                }
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="nav-profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @{
                                            User user = await _userManager.GetUserAsync(User);
                                            Image image = _context.Images.FirstOrDefault(x => x.UserId == user.Id);
                                        }
                                        @if (image != null && image.Avatar != null)
                                        {
                                            <img class="avatar-thumb" src="~/images/avatars/@image.Avatar" style="border-radius: 50%; width: 25px; height: 23px;">
                                        }
                                        else
                                        {
                                            <img class="avatar-thumb" src="~/images/no_avatar/no_avatar.png" style="border-radius: 50%; width: 26px;">
                                        }
                                        @user.Login
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-profile-dropdown">
                                        <a class="dropdown-item" asp-controller="Account" asp-action="Profile">@Localizer["Profile"]</a>
                                        <form method="post" asp-controller="Account" asp-action="LogOff">
                                            <input type="submit" value="@Localizer["Out"]" class="dropdown-item text-primary">
                                        </form>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <form class="nav-item dropdown" asp-controller="Home" asp-action="SetDarkTheme" style="margin-top:15px; margin-left:50px"
                                          asp-route-returnUrl="@Context.Request.Path" method="post">
                                        <input asp-for="@user.DarkTheme" name="darkTheme" onchange="this.form.submit();" id="general" type="checkbox" class="checkbox">
                                        <label class="for-checkbox" for="general"></label>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown mb-2">
                            @await Html.PartialAsync("_SelectLanguagePartial")
                        </div>
                    }
                    else
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                            </li>
                            <li class="nav-item dropdown">
                                @await Html.PartialAsync("_SelectLanguagePartial")
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
        <div class="col-md-11 ml-sm-auto col-lg-11">
            @if (TempData.ContainsKey("error"))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["error"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
    </header>
    @if (TempData.ContainsKey("warning"))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["warning"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (TempData.ContainsKey("deckerror"))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="deckerror">
            @TempData["deckerror"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (TempData.ContainsKey("forgotpasswordDateError"))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["forgotpasswordDateError"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @{
        string NowYear = DateTime.Now.Year.ToString();
     }
    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; @NowYear - MemoryCards
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.gridly.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/color.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
