﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.NativeName })
        .ToList();
}
 

<form class="nav-item dropdown"  asp-controller="Home" asp-action="SetLanguage" style="margin-top:8px; margin-left:30px  "
      asp-route-returnUrl="@Context.Request.Path"
      method="post"  >
    <select name="culture" onchange="this.form.submit();"
            asp-for="@requestCulture.RequestCulture.UICulture.Name">
        <option value="ru">RU</option>
        <option value="en">EN</option>
    </select>
</form>
 
 