﻿@{
    ViewData["Title"] = Localizer["title"];
}

<div class="col-sm-8 col-xs-12">
    <h1 class="newsTitle">@Localizer["head"]</h1>
    <div class="cont">
        <div class="alert alert-warning"> @Localizer["pageNF"] </div>
        <ol> 
        <li>@Localizer["text1"]</li> 
        <li> @Localizer["text2"]
            <a asp-action="DeckBox" asp-controller="Home"> @Localizer["text3"] </a> 
        </li>
        <li> @Localizer["text4"]
            <a href="mailto:memorycards@gmail.com">@Localizer["text5"]</a> @Localizer["text6"] </li> 
        </ol>
    </div>
</div>