﻿@model MemoryCards.Models.DeckBox

@{
    ViewData["Title"] = Localizer["title"];
}
 
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/site.css">
<div class="p-3" id="fh5co-work">
    <h2 class="lead"><a asp-action="UserProfile" asp-controller="Account" asp-route-id="@Model.UserId">@Model.User.Login </a>@Localizer["sharedit"]</h2>
    @if (Model.Image == null)
    {
        <div class="col-md-4 text-center animate-box " data-id="@Model.Id" style="padding-top: 22px;">
            <a class="work" asp-controller="Home" asp-action="Deck" asp-route-id="@Model.Id">
                <div class="work-grid" style="background-color:@Model.DeckBoxcColor">
                    <div class="inner">
                        <div class="desc" style="text-align:center;max-width:300px;">
                            <h3>@Model.Title <br /> - <br /></h3>
                            <h5 style="word-wrap: break-word">@Model.Description</h5>
                            <p class="cat">@Localizer["countwords"]<strong> @Model.CountWords()</strong></p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="btn btn-secondary" id="share" asp-controller="DeckBoxes" asp-action="GetDeckBox" asp-route-id="@Model.Id">
                @Localizer["takeitforyourself"]
            </a>
        </div>
    }
    else
    {
        <div class="col-md-4 text-center animate-box" data-id="@Model.Id" style="padding-top:22px;">
            <a class="work" asp-controller="Home" asp-action="Deck" asp-route-id="@Model.Id">
                <div class="work-grid" style="background-image: url('../../images/deckBox_images/@Model.Image.DeckBoxImageName');">
                    <div class="inner">
                        <div class="desc" style="text-align:center; max-width:300px;">
                            <h3>@Model.Title <br /> - <br /></h3>
                            <h5 style="word-wrap: break-word">@Model.Description</h5>
                            <p class="cat">@Localizer["countwords"]<strong> @Model.CountWords()</strong></p>
                        </div>
                    </div>
                </div>
            </a>
            <a class="btn btn-secondary" id="share" asp-controller="DeckBoxes" asp-action="GetDeckBox" asp-route-id="@Model.Id">
                @Localizer["takeitforyourself"]
            </a>
        </div>
    }
</div>