﻿@model MemoryCards.Models.DeckBox

@{
    ViewData["Title"] = Localizer["edittitle"];
}

<h1>@Localizer["edittitle"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="@Model.CreatedAt" />
            <input type="hidden" asp-for="@Model.Rating" />
            <input type="hidden" asp-for="@Model.Image" />
            <div class="group">
                <input asp-for="Title" type="text" required class="input" autocomplete="off" autofocus>
                <span class="highlight"></span>
                <span class="bar"></span>
                <span asp-validation-for="Title" id="validTitle" class="text-danger"></span>
                <label class="label">@Localizer["title"]</label>
            </div>
            <div class="form-group">
                <label class="desc">@Localizer["description"]</label>
                <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <span asp-validation-for="Description" id="validDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="imageName">@Localizer["imagedeckbox"]</p>
                <label name="imageDb" class="file">
                    <input type="file" name="imageDb" id="file" aria-label="File browser example" autofocus>
                    <span name="imageDb" class="file-custom"></span>
                </label>
            </div>
            <div class="form-group" id="d">
                <div class="color-wrapper">
                    <p>@Localizer["colordeckbox"]</p>
                    <input type="text" asp-for="DeckBoxcColor" placeholder="#FFFFFF" id="pickcolor" class="call-picker" autocomplete="off" autofocus>
                    <div class="color-holder call-picker"></div>
                    <div class="color-picker" id="color-picker" style="display: none"></div>
                </div>
            </div>
            @if (Model.Private)
            {
                <div class="form-group" id="switch_pozit">
                    <p class="priv">@Localizer["private"]</p>
                    <label class="switch">
                        <input asp-for="Private" type="checkbox" class="switch_button" value="False" autofocus>
                        <span class="slider"></span>
                    </label>
                </div>
            }
            else
            {
                <div class="form-group" id="switch_pozit">
                    <p class="priv">@Localizer["private"]</p>
                    <label class="switch">
                        <input asp-for="Private" type="checkbox" class="switch_button" value="True" autofocus>
                        <span class="slider"></span>
                    </label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@Localizer["edit"]" class="btn btn-light" autofocus />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a type="button" asp-action="Index" class="btn btn-light">@Localizer["back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
