﻿@model IEnumerable<MemoryCards.Models.DeckBox>

@{
    ViewData["Title"] = Localizer["indextitle"];
}
<link rel="stylesheet" href="~/css/animate.css">
<link rel="stylesheet" href="~/css/icomoon.css">
<link rel="stylesheet" href="~/css/style.css">

<h1 class="text-center">@Localizer["indextitle"]</h1>
<link href="~/css/indexDeckboxcss.css" rel="stylesheet" />
<hr />
<div id="elements-container">
    <div id="fh5co-work">
        <div class="container">
            <button type="button" class="btn btn-light" style="display:none" id="save-ordering">@Localizer["savechanges"]</button>
            <div class="row" id="dragable-elements-list">
                <div class="col-lg-4 col-md-6 image-grid-item" style="padding-top:26px;">
                    <div class="card text-center">
                        <div class="card-body" style="height: 291px; padding-top:20px; ">
                            <h1 class="text-center" style="line-height:50%;padding-top:75px;"><a class="text-decoration-none" id="createDeckbox" asp-action="Create">+</a></h1>
                            <footer class="blockquote-footer text-center">
                                @Localizer["createdeckbox"]
                            </footer>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Image == null)
                    {
                        <div class="col-md-4 text-center animate-box  draggable-element" data-id="@item.Id" style="padding-top: 22px;">
                            <a class="work" asp-controller="Decks" asp-action="Index" asp-route-id="@item.Id">
                                <div class="work-grid" style="background-color:@item.DeckBoxcColor">
                                    <div class="inner">
                                        <div class="desc" style="text-align:center;max-width:300px;">
                                            <h3>@item.Title <br /> - <br /></h3>
                                            <h5 style="word-wrap: break-word">@item.Description</h5>
                                            <span class="cat">@Localizer["learnedwords"]<strong> @item.LearnedWords()</strong></span>
                                            <p>-</p>
                                            <p class="cat">@Localizer["countwords"]<strong> @item.CountWords()</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="privating">
                                @if (item.Private)
                                {
                                    <h3>@Localizer["private"]</h3>
                                }
                                else
                                {
                                    <h3>@Localizer["public"]</h3>
                                }
                            </div>
                            <div class="card-body" style="padding-bottom:13px;">
                                <a href="#" onclick="GenerationUrl('@item.Id')" class="btn btn-outline-primary" name="@item.Id" id="share" title="Share">@Localizer["share"]</a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light editDeckbox" title="Edit">@Localizer["edit"]</a>
                                <a class="btn btn-light deleteDeckbox" onclick="return confirm('@Localizer["deletejs"]')" asp-action="Delete" asp-route-id="@item.Id" title="Delete">@Localizer["delete"]</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4 col-md-6 text-center animate-box  draggable-element" data-id="@item.Id" style="padding-top:22px;">
                            <a class="work" asp-controller="Decks" asp-action="Index" asp-route-id="@item.Id">
                                <div class="work-grid" style="backGround-image: url('../../images/deckBox_images/@item.Image.DeckBoxImageName');">
                                    <div class="inner">
                                        <div class="desc" style="text-align:center; max-width:300px;">
                                            <h3>@item.Title <br /> - <br /></h3>
                                            <h5 style="word-wrap: break-word">@item.Description</h5>
                                            <span class="cat">@Localizer["learnedwords"]<strong> @item.LearnedWords()</strong></span>
                                            <p>-</p>
                                            <p class="cat">@Localizer["countwords"]<strong> @item.CountWords()</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="privating">
                                @if (item.Private)
                                {
                                    <h3>@Localizer["private"]</h3>
                                }
                                else
                                {
                                    <h3>@Localizer["public"]</h3>
                                }
                            </div>
                            <div class="card-body">
                                <a href="#" onclick="GenerationUrl('@item.Id')" class="btn btn-outline-primary" id="share" name="@item.Id" title="Share">@Localizer["share"]</a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light editDeckbox" title="Edit">@Localizer["edit"]</a>
                                <a class="btn btn-light deleteDeckbox" onclick="return confirm('@Localizer["deletejs"]')" asp-action="Delete" asp-route-id="@item.Id" title="Delete">@Localizer["delete"]</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.draggable-element').arrangeable();
        });
        $("body").on('DOMSubtreeModified', "#dragable-elements-list", function () {
            $('#save-ordering').show();
        });
        $('#save-ordering').on('click', function () {
            var objectArray = [];
            $(".draggable-element").each(function (index) {

                var obj = {
                    DeckBoxId: $(this).data('id'),
                    NewRating: index + 1
                }
                objectArray.push(obj);
            });
            console.log(objectArray);
            var postData = JSON.stringify(objectArray);
              $.ajax({
                url: '@Url.Action("RatingSort", "DeckBoxes")',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: postData,
                success: function (data, status, xhr) {
                    $('#save-ordering').hide();
                },
                error: function (jqXhr, textStatus, errormessage) {
                },
            });
        })
    </script>
    <script>
        function GenerationUrl(deckboxid) {
            $.ajax({
                url: '@Url.Action("Base64Encode", "DeckBoxes")',
                type: 'POST',
                data: { 'deckboxid': deckboxid},
                success: function (data, status, xhr) {
                var result = JSON.parse(data.value);
                    alert(result.URL);
                },
                error: function (jqXhr, textStatus, errormessage) {
                },
            });
        }
    </script>
}