﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = Localizer["forgotpassword"];
}
<div class="row">
    <div class="col-md-4 m-auto" style="padding-top:40px;">
        <h2>@Localizer["forgotpassword"]</h2>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" autofocus/>
                    <span asp-validation-for="Email" class="text-danger" id="validemail"></span>
            </div>
            <div class="form-group">           
                    <button type="submit" onclick="return confirm('@Localizer["confirmjs"]')" class="btn btn-primary">@Localizer["send"]</button>
            </div>
        </form>
    </div>
</div>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
