﻿@model LoginViewModel

@{
    ViewData["Title"] = Localizer["enterapp"];
}

<div class="row">
    <div class="col-md-4 m-auto">
        <section>
            <h2>@Localizer["enterapp"]</h2>
            <form method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="login_form-group">
                    <label asp-for="Email"></label><br />
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" id="validemail" class="text-danger"></span>
                </div>
                <div class="login_form-group">
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" id="validpassword" class="text-danger"></span>
                    <div style="text-align: left; margin-top: 10px;"><a asp-action="ForgotPassword" asp-controller="Account">@Localizer["forgotpassword"]</a></div>
                </div>
                <div class="login_form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe"></label><br />
                        <input asp-for="RememberMe" />
                    </div>
                </div>
                <div class="login_form-group">
                    <button type="submit" class="btn btn-primary">@Localizer["enter"]</button>
                </div>
                <p>@Localizer["no_account"]<a asp-controller="Account" asp-action="Register">&nbsp;@Localizer["register"]</a></p>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}