﻿@model ChangeProfileUserViewModel

@{
    ViewData["Title"] = Localizer["profile"];
}
<link rel="stylesheet" href="~/css/profile.css" />
<div class="profile-body">
    <form method="post" asp-controller="Account" asp-action="Profile"
          enctype="multipart/form-data" id="form-image">
        <div class="row profile">
            <div class="col-lg-4 col-md-6">
                <div class="profile-sidebar">
                    <div class="profile-usertitle">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input asp-for="Image.ImageFile" type='file'
                                       id="imageUpload" accept=".png, .jpg, .jpeg" autofocus/>
                                <label for="imageUpload"></label>
                            </div>
                        </div>
                        @if (Model.Avatar != null)
                        {
                            <div class="profile-userpic">
                                <img src="~/images/avatars/@Model.Avatar"
                                     alt="@Model.Login" id="imagePreview" class="img-responsive" />
                            </div>
                        }
                        else
                        {
                            <div class="profile-userpic">
                                <img src="~/images/no_avatar/no_avatar.png"
                                     alt="@Model.Login" id="imagePreview" class="img-responsive" />
                            </div>
                        }
                        <div class="profile-usertitle-name">
                            @Model.Login
                        </div>
                        <div class="profile-usertitle-email">
                            @Model.Email
                        </div>
                        <div class="profile-usertitle-country">
                            @Model.Country
                        </div>
                        @if (Model.Avatar != null)
                        {
                            <hr />
                            <div class="group">
                                <a class="btn buttons" onclick="return confirm('@Localizer["deletejs"]')" id="Delete" asp-action="DeleteAvatar"
                                   asp-route-id="@Model.ImageId">@Localizer["delete"]</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 m-auto">
                <div class="profile-content">
                    <h4 class="title-profile">@Localizer["settings"]</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Avatar" autofocus/>
                    <div class="group">
                        <label asp-for="Country" class="text-lable"></label>
                        @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.CountryList), @Localizer["selectcountry"].Value, new { @class = "text-enter" })
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="group">
                        <label asp-for="Email" class="text-lable"></label>
                        <input class="text-enter" asp-for="Email" autofocus/>
                        <span class="highlight"></span>
                        <span asp-validation-for="Email" class="bar text-danger"></span>
                    </div>
                    <div class="group">
                        <label asp-for="Login" class="text-lable"></label>
                        <input class="text-enter" asp-for="Login" autofocus/>
                        <span class="highlight"></span>
                        <span asp-validation-for="Login" class="bar text-danger"></span>
                    </div>
                    <div class="group">
                        <label asp-for="NewPassword" class="text-lable"></label>
                        <input class="text-enter" asp-for="NewPassword" autofocus/>
                        <span class="highlight"></span>
                        <span asp-validation-for="NewPassword" class="bar text-danger"></span>
                    </div>
                    <div class="group">
                        <label asp-for="PasswordConfirm" class="text-lable"></label>
                        <input class="text-enter" asp-for="PasswordConfirm" autofocus/>
                        <span class="highlight"></span>
                        <span asp-validation-for="PasswordConfirm" class="bar text-danger"></span>
                    </div>
                    <div class="group">
                        <input class="btn buttons" type="submit" value="@Localizer["save"]"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
<script src="~/js/profile.js"></script>
}