﻿@model RegisterViewModel

@{
    ViewData["Title"] = Localizer["regnewuser"];
}

<h2 class="text-center">@Localizer["regnewuser"]</h2>
<div class="row">
    <div class="col-md-4 m-auto">
        <section>
            <form method="post" asp-controller="Account" asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label><br />
                    <input asp-for="Email" class="form-control" autofocus/>
                    <span asp-validation-for="Email" id="validemail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country"></label>
                    @Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.CountryList), @Localizer["selectcountry"].Value, new { @class = "form-control mt-1" })
                    <span asp-validation-for="Country" id="validcountry" class="text-danger" ></span>
                </div>
                <div class="form-group">
                    <label asp-for="Login"></label><br />
                    <input asp-for="Login" class="form-control" autofocus/>
                    <span asp-validation-for="Login" id="validlogin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" class="form-control" autofocus/>
                    <span asp-validation-for="Password" id="validpassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirm"></label><br />
                    <input asp-for="PasswordConfirm" class="form-control" autofocus/>
                    <span asp-validation-for="PasswordConfirm" id="validpasswordconfirm" class="text-danger"></span>
                </div>
                <div class="form-group mb-5">
                    <input type="submit" class="btn btn-primary" value="@Localizer["register"]" autofocus/>
                </div>
            </form>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        </section>
    </div>
</div>