﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = Localizer["passwordrecovery"];
}

<div class="row">
    <div class="col-md-4 m-auto" style="padding-top:40px;">
        <h2>@Localizer["passwordrecovery"]</h2>
        <form method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" autofocus/>
                <span asp-validation-for="Email" class="text-danger" id="validemail"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" autofocus/>
                <span asp-validation-for="Password" class="text-danger" id="validpassword"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" autofocus/>
                <span asp-validation-for="ConfirmPassword" class="text-danger" id="validpasswordconfirm"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Localizer["recovery"]</button>
            </div>
        </form>
    </div>
</div>