﻿@model UsersListViewModel
@{
    ViewBag.Title = Localizer["usersofthewebsite"];
}

<hr />
<form method="get">
    <div class="form-inline ">
        <div class="form-group">
            <span class="input-group-addon"><i class="fas fa-search"></i></span>
            <input class="search_users"  type="text" id="#search" placeholder="@Localizer["searchofusers"]" autofocus/>
        </div>
    </div>
</form>

<div id="userList">
    <table class="table mt-3 table-striped linkUserProfile" id="example">
        <thead>
            <tr>
                <th></th>
                <th><p>@Localizer["login"]</p></th>
                <th><p>@Localizer["country"]</p></th>
                <th><p>@Localizer["email"]</p></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.PageViewModel)
            {
                <tr class="hrefUserProfile" data-href="/Account/UserProfile/@user.Id">
                    <td class="table-hover">
                        @if (user.Image != null)
                        {
                            <img src="~/images/avatars/@user.Image.Avatar" alt="@user.Login" style="height: 25px; width: 25px; border-radius: 50%" />
                        }
                        else
                        {
                            <img src="~/images/no_avatar/no_avatar.png" alt="@user.Login" style="height: 25px; width: 25px; border-radius: 50%" />
                        }
                    </td>
                    <td class="table-hover">@user.Login</td>
                    <td class="table-hover">@user.Country</td>
                    <td class="table-hover">@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<ul class="pagination">
    @{
        var prevDisabled = !Model.PageViewModel.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.PageViewModel.HasNextPage ? "disabled" : "";
    }
    <li class="page-item">
        <a asp-route-pageNumber="@(Model.PageViewModel.PageIndex - 1)"
           asp-route-searchString="@Context.Request.Query["searchString"]"
           class="btn page-link page @prevDisabled" style="text-align: left;">@Localizer["previos"]</a>
    </li>

    @for (var i = 1; i <= Model.PageViewModel.TotalPages; i++)
    {
        <li>
            <a asp-route-pageNumber="@i" class="page @(i == Model.PageViewModel.PageIndex ? "active" : "")">@i</a>
        </li>

    }

    <li class="page-item">
        <a asp-route-pageNumber="@(Model.PageViewModel.PageIndex + 1)"
           asp-route-searchString="@Context.Request.Query["searchString"]"
           class="btn page-link page @nextDisabled" style="text-align: right;">@Localizer["next"]</a>
    </li>
</ul>
@section Scripts {
    <script src="~/js/searchUsers.js"></script>
}