﻿@model User

@{
    ViewData["Title"] = Localizer["profileuser"];
    List<DeckBox> public_deckboxes = Model.DeckBoxes.Where(p => p.Private == false).ToList();
}
<link rel="stylesheet" href="~/css/userProfile.css">

<div class="row">
    <div class="w-100">

        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                     @if(Model.Image != null && Model.Image.Avatar != null)
                        {
                    <div class="profile mr-3"><img src="~/images/avatars/@Model.Image.Avatar" alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>
                     }
                     else
                     {
                    <div class="profile mr-3"><img src="~/images/no_avatar/no_avatar.png" alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>
                    }

                <div class="media-body mb-5 text-white">
                    <h4 class="mt-0 mb-0">@Model.Login</h4>
                    <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>@Model.Country</p>
                </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@public_deckboxes.Count</h5><small class="text-muted">@Localizer["publicdict"]</small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.DeckBoxes.Count</h5><small class="text-muted">@Localizer["dict"]</small>
                    </li>
                </ul>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">@Localizer["deckboxes"]</h5>
                </div>
                <div id="fh5co-work p-0">
                    <div class="container">
                        <div class="row">
                            @foreach (var deckBox in public_deckboxes)
                            {
                                List<Deck> decks = deckBox.Decks.Where(p => p.DeckBoxId == deckBox.Id && p.CountLearnCards != 0).ToList();
                                @if (deckBox.Image != null)
                                {
                                    <div class="col-md-4 text-center animate-box">
                                        <a class="work" asp-controller="Home" asp-action="DeckUserProfile" asp-route-id="@deckBox.Id">
                                            <div class="work-grid" style="background-image: url('../../images/deckBox_images/@deckBox.Image.DeckBoxImageName');">
                                                <div class="inner">
                                                    <div class="desc">
                                                        <h3 class="title">@deckBox.Title <br /> @deckBox.Description</h3>                                                        
                                                    </div>
                                                </div>

                                            </div>
                                        </a>
                                        <a asp-controller="DeckBoxes" asp-action="GetDeckBox" asp-route-id="@deckBox.Id" class="btn btn-secondary" title="Copy">@Localizer["copy"]</a>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-md-4 text-center animate-box mb-5">
                                        <a class="work" asp-controller="Home" asp-action="DeckUserProfile" asp-route-id="@deckBox.Id">
                                            <div class="work-grid" style="background-color:@deckBox.DeckBoxcColor">
                                                <div class="inner">
                                                    <div class="desc">
                                                        <h3 class="title">@deckBox.Title <br /> @deckBox.Description</h3>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a asp-controller="DeckBoxes" asp-action="GetDeckBox" asp-route-id="@deckBox.Id" class="btn btn-light" title="Copy">@Localizer["copy"]</a>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
