﻿@model CardDeckViewModel

@{
    ViewData["Title"] = @Localizer["title"];
}

<body>
    <div id="div1">
        <div class="slideshow-container">
            @foreach (var card in Model.Cards)
            {
                <div class="mySlides fade">
                    <div class="card card-word cardsIndex" style="">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mr-5">
                            <a class="btn-sm button" id="Delete" href="#">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            <a id="edit" class="btn-sm ml-2 button" href="#">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </div>
                        <div class="card-body mb-4">
                            <div class="pb-3 cardWrapper">
                                <div class="cardContainer">
                                    <div class="memoryCard">
                                        <div class="front" id="out">
                                            <span class="in card-word">@card.Word</span>
                                        </div>
                                        <div class="back" id="inner">
                                            <div class="content">
                                                @if (card.Image != null)
                                                {
                                                    if (card.Image.CardImageName != null)
                                                    {
                                                        <p class="Word" style="text-align: center;">@card.Defination</p>
                                                        <img class="cardTitle responsive" style="display: block; margin: auto" src="/images/card_images/@card.Image.CardImageName" alt="" height="280" />
                                                        <p class="Word" style="text-align: center;">@card.UseExample</p>
                                                        <br />

                                                    }

                                                }
                                                else
                                                {
                                                    <p class="Word" style="text-align: center;">@Localizer["defination"]</p>
                                                    <br />
                                                    <p class="Word" style="text-align: center;">@card.Defination</p>
                                                    <hr />
                                                    <p class="Word" style="text-align: center;">@Localizer["use_example"]</p>
                                                    <br />
                                                    <p class="Word" style="text-align: center;">@card.UseExample</p>
                                                    <hr />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="myCarousel mb-5 mt-5">
                            <a type="button" style="float:left" class="btn btn-danger btn-lg" href="#">@Localizer["dont_know"]</a>
                            <a type="button" style="float:right" class="btn btn-success px-4 btn-lg button" href="#">@Localizer["know"]</a>
                        </div>
                    </div>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            }

        </div>
        <br>

        <div class="row">
            <div class="col-sm-4">
                <div class="card m-2 bg-light" style="height: 102px; text-align:center">
                    <div class="card-body">
                        <a id="create" href="#"> <p class="card-title  position-relative CreateCard">+</p> </a>
                    </div>
                </div>
            </div>

            @foreach (var card in Model.Cards)
            {
                <div class="col-sm-4">
                    <div class="card m-2 bg-light" style="height: 102px; text-align:center">
                        <div class="card-body">
                            <h5 class="card-title position-relative">@card.Word</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br>
    <input type="button" onclick="history.back(-2); return false;" class="btn btn-light" value="@Localizer["back"]" />

</body>
<br>

@section Scripts {
    <script src="~/js/carouselCards.js" asp-append-version="true"></script>
    <script src="~/js/flipCards.js" asp-append-version="true"></script>
    <script src="~/js/cardIndex.js"></script>

}