﻿@model DeckBox

@{
    ViewData["Title"] = @Localizer["title"];
}
<link rel="stylesheet" href="~/css/style.css">
<link href="~/css/indexDeckboxcss.css" rel="stylesheet" />
<div class="row mt-5 pt-5">
    <div class="col-sm-5">
        <div class="col-md-4 animate-box text-center draggable-element" style="padding-top:22px; max-width: 82%">
            <a class="work" asp-controller="Home" asp-action="Deck" asp-route-id="@Model.Id">
                <div class="work-grid" style="backGround-image:url('/images/default_Deckbox/@Model.Image.DeckBoxImageName');">
                    <div class="inner">
                        <div class="desc" style="text-align:center; max-width:300px;">
                            <h3>@Model.Title <br /> - <br /></h3>
                            <h5 style="word-wrap: break-word">@Model.Description</h5>
                        </div>
                    </div>
                </div>
            </a>
            <div class="card-body">
                <a href="#" class="btn btn-outline-primary" id="share" title="Share">@Localizer["share"]</a>
                <a href="#" class="btn btn-light" title="Edit" id="edit">@Localizer["edit"]</a>
                <a href="#" class="btn btn-light" title="Delete" id="delete">@Localizer["delete"]</a>
            </div>
        </div>
        
    </div>
    <div class="col-sm-7">
        <div class="container">
            <h3 style="text-align: center;">Добро пожаловать!</h3>
            <p style="color: black;">
                Это приложение разработано для изучения английского языка, но так-же можно изучать любые незнакомые вам слова на любые темы.
                Изучение слов начинается с того что вы создаете словарь, в котором будут 8 коробок, коробки отличаются написанными на них числами.
                Каждое число, написанное на коробке, означает через сколько дней вы будете повторять слова. Затем в каждой из коробок можно будет
                создать карточки, на которых будет написано незнакомое вам слово. Карты лежащие в коробке "1" будут повторяться каждый день,
                это обычно самые сложные слова или слова о существовании которых вы узнали недавно.
                Карты лежащие в коробке с числом "128" будут повторяться каждые 128 дней, это слова которые вы очень хорошо знаете.
            </p>

            <p>
                Карточка показывает вам слово, а вы нажимаете на кнопку "Знаю" или кнопку "Не знаю", либо переключаете стрелками влево и вправо на следующую или предыдущую карту.
                "Знаю" - если знаете слово, "Не знаю" - если не знаете. Если вы нажали на "Знаю" тогда карта будет показываться реже, вы переложили эту карту,
                которая лежала (например) в коробке "1", в коробку с числом "2". Если вы нажали "Не знаю" то происходит, то же самое только все наоборот. При клике на слово,
                карта перевернется и на обратной стороне вы увидите значение этого слова и пример слова в предложении, это поля которые вы будете заполнять при создании карты.
                Еще можно копировать в свои личные словари, публичные словари других пользователей, а так же делиться приватными словарями, передавая их персонально другому пользователю.
            </p>

            <p>
                Вы можете <a style="color: #0366d6;" asp-controller="Account" asp-action="Register">Зарегистрироваться</a> или <a style="color: #0366d6;" asp-controller="Account" asp-action="Login">Войти</a> и уже начать изучать то,
                что вы хотите. Либо же вы можете попробовать демоверсию приложения нажав на словарь слева.
            </p>
        </div>
    </div>
</div>
