﻿@model IEnumerable<MemoryCards.Models.Deck>

@{
    ViewData["Title"] = @Localizer["title"];
}

<div class="row mb-5">
    <div class="deckcontainer">
        @foreach (var deck in Model)
        {           
            <div class="col-12  col-lg-3 col-md-4 col-sm-1-12">
                <div class="card" >
                    <h2>@deck.RepeatDay</h2>
                    <a class="btn-sm ml-5 icon" id="edit" href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a  class="btn" asp-action="Card" asp-route-id="@deck.Id">
                        <div class="content">
                            <h3 class="text-center">
                                @Localizer["count"]
                                <strong> @Html.DisplayFor(modelItem => deck.Cards.Count)</strong>
                            </h3>
                        </div>
                    </a>
                </div>
            </div>          
        }
    </div>
</div>
<br />
<input type="button" onclick="history.back(-2); return false;" class="btn-bt btn-light" value="@Localizer["back"]" />


