﻿@model MemoryCards.ViewModels.CardDeckViewModel

@{
    ViewData["Title"] = @Localizer["create_card"];
}

<h1>@Localizer["create_card"]</h1>

<hr />
<div class="row">
    
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="DeckId" value="@Model.Deck.Id" />
            <div class="group">
                <input asp-for="card.Word" type="text" required class="input" autocomplete="off" autofocus>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label">@Localizer["word"]</label>
                <span asp-validation-for="card.Word" id="validWord" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="card.Defination" type="text" required class="input" autocomplete="off" autofocus>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label">@Localizer["defination"]</label>
                <span asp-validation-for="card.Defination" id="validDefination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="desc" for="exampleFormControlTextarea1">@Localizer["use_example"]</label>
                <textarea asp-for="card.UseExample" class="form-control" id="exampleFormControlTextarea1" rows="3" autofocus></textarea>
                <span asp-validation-for="card.UseExample" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="imageName">@Localizer["imagecard"]</p>
                <label name="imageDb" class="file">
                    <input asp-for="card.Image.ImageFile" id="file" aria-label="File browser example" autofocus>
                    <span asp-validation-for="card.Image.ImageFile" class="file-custom"></span>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["create"]" class="btn btn-light" autofocus/>
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" asp-action="Index" asp-controller="Cards" asp-route-id="@Model.Deck.Id" class="btn btn-light">@Localizer["back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
