﻿@model MemoryCards.Models.Card

@{
    ViewData["Title"] = @Localizer["edit_card"];
}

<h1>@Localizer["edit_card"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ShowCount" />
            <input type="hidden" asp-for="DeckId" />
            <input type="hidden" asp-for="@Model.Image.CardImageName" />
            <input type="hidden" asp-for="@Model.CreatedAt" />
            <div class="group">
                <input asp-for="Word" type="text" required class="input" autocomplete="off" autofocus>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label">@Localizer["word"]</label>
                <span asp-validation-for="Word" id="validWord" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Defination" type="text" required class="input" autocomplete="off" autofocus>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="label">@Localizer["defination"]</label>
                <span asp-validation-for="Defination" id="validDefination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="desc" for="exampleFormControlTextarea1">@Localizer["use_example"]</label>
                <textarea asp-for="UseExample" class="form-control" id="exampleFormControlTextarea1" rows="3" autofocus></textarea>
                <span asp-validation-for="UseExample" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p class="imageName">@Localizer["imagecard"]</p>
                <label name="imageDb" class="file">
                    <input type="file" name="imageDb" id="file" aria-label="File browser example" autofocus>
                    <span name="imageDb" class="file-custom"></span>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["edit"]" class="btn btn-light" autofocus/>
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" asp-action="Index" asp-controller="Cards" asp-route-id="@Model.DeckId" class="btn btn-light">@Localizer["back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
