﻿{
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev {
    margin-left: -320px;
}

.button {
    font-size: 18px;
}


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: -320px;
}

/* On hover, add a black background color with a little bit see-through */



.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10000s;
    animation-name: fade;
    animation-duration: 10000s;
}

@-webkit-keyframes fade {
    from {
        opacity: .9
    }

    to {
        opacity: 5
    }
}

@keyframes fade {
    from {
        opacity: .9
    }

    to {
        opacity: 5
    }
}

.card-word {
    border: 0px;
}

@media all and (max-width : 752px) {

    .prev {
        margin-left: -25px;
    }

    .next {
        margin-right: -25px;
    }
}

@media all and (max-width : 390px) {

    .prev {
        margin-left: -25px;
    }

    .next {
        margin-right: -25px;
    }
}
