﻿body {        
    font-size: 16px;
    line-height: 1.7;
    color: #ffffff;
    background: #131417;
}
.bg-white {
    background-color: #1e1f26 !important;
}
.border-bottom {
    border-bottom: 1px solid #1e1f26 !important;
}
.border-top {
    border-top: 1px solid #1e1f26 !important;
}
.profile {
    margin: 20px 0;
    background: #1e1f26;
}
.bg-light {
    background-color: #1E1F20 !important;
}
.navbar-light .navbar-brand {
    color: #c0c0c0;
}
    .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
        color: #ffffff;
    }
.text-dark {
    color: #c0c0c0 !important;
}
a.text-dark:focus, a.text-dark:hover {
    color: #ffffff !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #c0c0c0;
}
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #ffffff;
    }
h1, h2, h3, h4, h5, h6, figure {
    color: dimgrey;       
    margin: 0 0 20px 0;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #131417;
    background-clip: border-box;
    border-radius: .25rem;
}
.cardContainer:first-child .memoryCard .front {
    background: #1d2661;
}
.cardContainer:first-child .memoryCard .back {
    background: #1d2661;
}
.blockquote-footer {
    display: block;
    font-size: 80%;
    color: white;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #c0c0c0;
    background: #3e3d48;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #1E1F20;
}
.container {
    color: white;
}
.input {
    font-size: 1rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
    color: white;
    background: #1E1F20;
}
#exampleFormControlTextarea1 {
    height: 100px;
    width: 100%;
    overflow: unset;
    resize: none;
    color: white;
    background: #1E1F20;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: #1E1F20;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    .form-control:focus {
        color: white;
        background-color: #1E1F20;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }
.file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: white;
    background-color: #1E1F20;
    border: .075rem solid #ddd;
    border-radius: .25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input.call-picker {
    border: 1px solid #AAA;
    color: white;
    background-color: #1E1F20;
    text-transform: uppercase;
    float: left;
    outline: none;
    text-transform: uppercase;
    width: 74%;
    padding: 13px;
    font-size: 13px;
}