﻿.product-new-label-pr {
    color: #fff;
    background-color: #d60808;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0
}

.product-new-label-pb {
    color: #fff;
    background-color: #258e10;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0
}
.active {
    background-color: transparent;
}


.fab {
    cursor: pointer;
}

.fab-backdrop {
    color: rgba(255, 255, 255, 0);
}

.fab-primary, .fab-secondary {
    transition: all 0.35s ease-in-out;
}

.fab.active .fab-primary {
    opacity: 0;
    transform: rotate(225deg);
}

.fab-secondary {
    opacity: 0;
    transform: rotate(-225deg);
}

.fab.active .fab-secondary {
    opacity: 1;
    transform: rotate(0);
    margin-top: -2px;
}
.fa-stack-2x {
    width: 2em;
}


#inbox .show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

#inbox .show-on-hover {
    position: absolute;
    bottom: 80px;
    right: 80px;
}

#inbox .btn-io {
    border-radius: 50%;
    height: 54px;
    width: 54px;
    padding: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}

#inbox .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
    margin-bottom: -5px;
    padding-bottom: 30px;
}

#inbox .dropdown-menu-right {
    right: 0 !Important;
    left: auto !Important;
}

#inbox .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0) !Important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
}

#inbox .fa-iox {
    font-size: 22px;
}

#inbox .dropdown-menu > li > a {
    display: block;
    padding: 0;
    padding-top: 4px;
    margin-top: 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    background: #fff;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 50px;
    font-size: 21px;
    box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}

#inbox .dropdown-menu > li:first-child > a {
    background: #D3A516 !important;
    color: #fff !important;
}

#inbox .dropdown-menu > li:last-child > a {
    background: #D3A516;
    color: #fff;
}

#inbox .dropdown-menu > li:nth-child(3) > a {
    background: #3C80F6;
    color: #fff;
}

#inbox .dropdown-menu > li:nth-child(2) > a {
    background: #2CAC26;
    color: #fff;
}
#inbox .fa-iosm {
    margin-top: 7px;
}


/*Text*/
* {
    box-sizing: border-box;
}
.group {
    position: relative;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.input {
    font-size: 1rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;    
}
    .input:focus {
        outline: none;
    }
.label {    
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;    
}
.input:focus ~ label, .input:valid ~ .label {
    top: -20px;
    font-size: 14px;    
}
.bar {
    position: relative;
    display: block;
    width: 100%;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #bcdffc;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/*Description*/

#exampleFormControlTextarea1 {
    height: 100px;
    width: 100%;
    overflow: unset;
    resize: none;
}


/*File*/
.file-custom:after {
    content: "Add Image";
}

.file-custom:before {
    content: "Add";
}

.imageName {
    font-size: 1rem;    
    margin-bottom: .5rem;
}


/*Color*/
#d {
    font: 11px/14px Arial, Helvetica, sans-serif;
    margin-right: 50%;
    margin-bottom: 15%;
    font-weight: 300;
    font-size: 16px;
}

.color-wrapper {
    position: relative;
    width: 250px;
    margin: 20px auto;
}

    .color-wrapper p {
        font-size: 1rem;        
        margin-bottom: .5rem;
    }

input.call-picker {
    border: 1px solid #AAA;    
    text-transform: uppercase;
    float: left;
    outline: none;
    text-transform: uppercase;
    width: 74%;
    padding: 13px;
    font-size: 13px;
}

.color-picker {
    width: 181px;
    background: #F3F3F3;
    height: 140px;
    padding: 5px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 3px 1px #ddd;
    position: absolute;
    top: 62px;
    left: 2px;
    z-index: 400;
}

.color-holder {
    background: #fff;
    cursor: pointer;
    border: 1px solid #AAA;
    width: 60px;
    height: 43px;
    float: left;
    margin-left: 5px;
}


.color-picker .color-item {
    cursor: pointer;
    width: 19px;
    height: 16px;
    list-style-type: none;
    float: left;
    margin: 2px;
    border: 1px solid #DDD;
}

    .color-picker .color-item:hover {
        border: 1px solid #666;
        opacity: 0.8;
        opacity: 0.8;
        filter: alpha(opacity=8);
    }

    /*button*/
.btn-light {
    border: 1px solid #AAA;
}
.form-group {
    margin-bottom: 2rem;
}

/*Private button*/
.switch {
    position: relative;
    display: inline-block;
    width: 61px;
    height: 34px;
}

    .switch .switch_button {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.switch_button:checked + .slider {
    background-color: #2196F3;
}

.switch_button:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch_button:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
.priv {
    margin-bottom: .5rem;    
}
#switch_pozit {
    padding-top: 2rem;
}
.privating {
    text-align: center;
}
.privating h3 {
 font-weight: 700;
  }
/*Login*/
.login_form-group {
    margin-bottom: 1.5rem;
}
