﻿
.deckcontainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1040px;    
    margin-bottom: 20px;
}

    .deckcontainer .card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 250px;
        min-height: 200px;
        padding: 10px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        text-align: center;
        transition: 0.5s;
        margin: 20px;
    }

        .deckcontainer .card::before {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 350px;
            background-color: #afa0a0;
            clip-path: circle(50% at 50% 0);
        }
 

    .deckcontainer .card h2 {
        position: relative;
        padding: 30px 0;
        font-size: 4.5em;
        text-align: center;
        color: #fff;
    }

    .deckcontainer .card .content p {
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        color: black;
    }

    .deckcontainer .card .content a {
        background: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    }

    .deckcontainer .card .content a {
        padding: 15px 45px;
        text-transform: uppercase;
        background-size: 200% auto;
        color: #fff;
        border-radius: 10px;
        transition: 0.5s;
        border: none;
    }

 
.icon {
    font-size: 20px;
    color:black;
    position: absolute;
    left: 133px;
    top: -5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}