﻿.animation {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.content p {
    font-weight: 300;
}

#out {
    display: table;
    height: 495px;
    width: 100%;
    text-align: center;
}

#inner {
    height: 495px;
}

.in {
    display: table-cell;
    vertical-align: middle;
    font-size: 64px;
    font-weight: bold;
}

.buttonright {
    margin-left: 180px;
}

.responsive {
    width: 100%;
    max-width: 310px;
    height: 100%;
    max-height: 230px;
}

p.Word {
    font-weight: bold;
}

.cardContainer {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    /*depth of the elements */
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    /*border: 1px solid #ff0000;*/
    padding-left: 1%;
}

.secondRow {
    margin-top: -1.4%
}

.memoryCard {
    width: 100%;
    height: 420px;
    cursor: pointer;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

    .memoryCard.flipped {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

        .memoryCard.flipped: {
        }

    .memoryCard .front,
    .memoryCard .back {
        display: block;
        width: 100%;
        line-height: 60px;
        color: white;
        text-align: center;
        font-size: 4em;
        position: absolute;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
    }

    .memoryCard .back {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 16px;
        text-align: left;
        line-height: 25px;
    }

    .memoryCard .back {
        background: #03446A;
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

/*Colors for front and back applied here*/
.cardContainer:first-child .memoryCard .front {
    background: #8fcfeb;
}

.cardContainer:first-child .memoryCard .back {
    background: #8fcfeb;
}




h3.cardTitle {
    line-height: 1.2em;
    margin-top: 8%;
    font-weight: 700;
}

.content h3.cardTitle {
    margin-top: 0%;
}

.content {
    padding: 4%;
    font-weight: 100;
    text-align: left;
    font-weight: bold;
}
