﻿.btn {    
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;   
    padding: 4px 8px;
}