﻿.profile-body {
    background: #dee2e6;
}
/* Profile container */
.profile {
    margin: 20px 0;
}
/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    border-radius: 20px;
}
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}
.title-profile {
    text-transform: uppercase;
    color: #191970;
}
.profile-usertitle-name {
    text-transform: uppercase;
    color: #191970;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 5px;
}
.profile-usertitle-email {
    color: #5b9bd1;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-usertitle-country {
    text-transform: uppercase;
    color: #5a7391;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
    border-radius: 20px;
}
.inputFile {
    color: transparent;
    outline: none;
    cursor: pointer;
    display: block;    
}
.avatar-upload {
    position: relative;
    max-width: 250px;
    margin: auto;
    margin-bottom: 20px;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 40px;
    z-index: 1;
    top: 90px;
}
.avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid #d2d6de;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
    .avatar-upload .avatar-edit input + label:after {
        content: '';
        font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
        color: #337AB7;
        position: absolute;
        font-weight: 900;
        left: 0;
        right: 0;
        text-align: center;
        line-height: 34px;
        margin: auto;
    }
.buttons::-webkit-file-upload-button {
    visibility: hidden;
}
.buttons {
    color: #FFF;
    display: inline-block;
    background: #5b9bd1;
    border: 1px solid #5b9bd1;
    width: 125px;
    height: 32px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 300;
    box-shadow: 0 6px 6px -6px #474747;
    border-radius: 15px;
    transition: all 0.2s ease;
}
    .buttons:hover {
        color: #fff;
        background: #2B8AC0;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
    }
    .buttons:active {
        outline: 0;
    }
        .buttons:active{
            border-color: #FFF;
            background: #2B8AC0;
            color: #FFF;
        }
.inputFile::-webkit-file-upload-button {
    visibility: hidden;
}
    .inputFile::before {
        content: 'Select file';
        margin: 10px;
        color: #FFF;
        display: inline-block;
        background: #5b9bd1;
        border: 1px solid #5b9bd1;
        width: 95px;
        height: 32px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-family: 'Oswald', 'sans-serif';
        font-weight: 300;
        box-shadow: 0 6px 6px -6px #474747;
        border-radius: 15px;
        transition: all 0.2s ease;
    }
    .inputFile:hover::before {
        border-color: #eee;
        background: #2B8AC0;
        color: #eee;
        transition: all 0.2s ease;
    }
    .inputFile:active {
        outline: 0;
    }
        .inputFile:active::before {
            border-color: #FFF;
            background: #2B8AC0;
            color: #FFF;
        }
.group {
    position: relative;
    margin-bottom: 10px;
}
.text-enter {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    width: 100%;
}
    .text-enter:focus {
        outline: none;
    }
/* LABEL ======================================= */
.text-lable {
    color: #5a7391;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}
/* active state */
.text-enter:focus ~ .text-lable, input:valid ~ .text-lable {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}
/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    .bar:before {
        left: 50%;
    }
    .bar:after {
        right: 50%;
    }

/* active state */
.text-enter:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
/* active state */
.text-enter:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}