﻿.profile-header {
    transform: translateY(5rem);
}

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.work {
    margin-bottom: 40px;
}

.work .work-grid {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    margin-bottom: 20px;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
    transition: 0.3s;
 }

    .work .work-grid .inner {
        display: table;
        height: 300px;
        width: 100.1%;
        opacity: 0;
        background: rgba(237, 235, 232, 0.9);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }      

@media screen and (max-width: 768px) {
    .work .work-grid .inner {
        opacity: 1;
        background: rgba(237, 235, 232, 0.7);
    }
}

.work .work-grid .inner .desc {
    display: table-cell;
    vertical-align: middle;
    padding: 40px;
}

    .work .work-grid .inner .desc .title {
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: bold;
        line-height: 24px;
    }

        .work .work-grid .inner .desc .title a {
            color: #000;
        }

    .work .work-grid .inner .desc .cat {
        font-size: 11px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

@media screen and (max-width: 768px) {
    .work .work-grid .inner .desc .cat {
        color: #333333;
    }
}

.work:hover .inner, .work:focus .inner {
    opacity: 1;
}

.work:hover .desc h3 a, .work:focus .desc .title a {
    color: #cabcab;
}

.title {
    color: #000;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    font-size: 24px;
}
a {
    color: #cabcab;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

    a:hover, a:active, a:focus {
        color: #cabcab;
        outline: none;
        text-decoration: none;
    }

p {
    margin-bottom: 20px;
}