﻿.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 5px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font: 10px Arial, Helvetica, Sans-serif;
    font-size: 1.1em;    
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}
    .page:hover, .page.gradient:hover {
        background: #fefefe;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
        background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
    }
    .page.active {
        border: none;
        background: #616161;
        box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
        color: #f0f0f0;
        text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    }
.page-link:hover {
    z-index: 2;
    color: #616161; 
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
a:hover {
    color: #616161;
}
.search_users {
    border: 1px solid #d1d1d1;
    font: bold 12px Arial, Helvetica, Sans-serif;
    color: #616161;
    width: 200px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
}
    .search_users:focus {
        width: 250px;
        outline: 0;
    }

.fas {
    margin-right: 5px;
}
